$primary-color: #000000;
$primary-color-2: #041113;
$primary-color-3: #133236;
$secondary-color: #ff5a3c;
$secondary-color-2: #cb3421;
$secondary-color-3: #fb412a;
$secondary-color-4: #ff5a3c2b;
$heading-color: #071c1f;
$paragraph-color: #5c727d;
$heading-font: "Poppins", sans-serif;
$section-bg-1: #f2f6f7;
$section-bg-2: #171b2a;
$section-bg-5: #fff2f0;
$section-bg-6: #0b2c3d;
$section-bg-7: #282b38;