@use '../../../../Styles/mixins' as *;
@use '../../../../Styles/variables' as *;
#team {
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center; 
    align-items: center; 
    gap: 1rem;
    .box {
      transition: 0.3s;
      border: 1px solid #ddd;
      overflow: hidden;
      flex-direction: column;
      padding: 0;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
      }
      .content {
        @include Flex(center, center);
        gap: 1rem;
        flex-direction: column;
        .team-job {
          font-weight: 600;
          font-size: 1.1rem;
          color: $secondary-color;
        }
        .team-social {
          margin-bottom: 1rem;
          .icon {
            margin: 0 0.3rem;
            color: $paragraph-color;
          }
        }
      }
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
      }
    }
  }
}