@use '../../../../Styles/variables' as *;
@use '../../../../Styles/mixins' as *;
#plan {
  .tabs {
    @include Flex(start , center);
    margin: 1.5rem 0;
    flex-wrap: wrap;
    position: relative;
  }
  .tab {
    background: none;
    border: none;
    margin: 1rem 2rem;
    position: relative;
    cursor: pointer;
    &::before {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 50%;
      width: 100%;
      background-color: $secondary-color;
      height: 2px;
      transform: translateX(-50%);
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -17px;
      left: 50%;
      width: 12px;
      height: 12px;
      background-color: #ff5a3c;
      border-radius: 50%;
      transform: translateX(-50%);
      border: 2px solid #fff;
    }
  }
  .holder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include BreakPoints(sm) {
      grid-template-columns: repeat(1, 1fr);
    }
    align-items: center;
    gap: 1rem;
    padding: 2rem;
  }
}