@use '../../../../Styles/mixins' as *;
@use '../../../../Styles/variables' as *;
#counter-up {
  background-color: $section-bg-1;
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px, 1fr));
    gap: 1rem;
    .col {
      @include Flex(center, center);
      flex-direction: column;
      h4 {
        font-size: 3rem;
        margin: 1rem 0;
      }
      .title {
        font-size: 1.1rem;
        font-weight: 500;
        color: $paragraph-color;
      }
    }
  }
}