@use '../../../../Styles/variables' as *;
@use '../../../../Styles/mixins' as *;
#hero {
  background-color: $section-bg-1;
  height: 450px;
  position: relative;
  .container  {
    .holder {
      height: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      img {
        width: 100%;
        @media (max-width: 900px) {
          display: none;
        }
      }
      .btn-holder {
        flex-wrap: wrap;
        @include Flex(start, null);
        gap: 0.2rem;
        @include BreakPoints(sm) {
          flex-direction: column;
        }
      }
    }

  }

}