@use '../../../../Styles/variables'  as *;
@use '../../../../Styles/mixins'  as *;
#news {
  .slide-content {
    margin: 1rem 0;
    
    img {
      width: 100%;
    }
    .content {
      box-shadow: 0 5px 20px 0 rgba(23, 44, 82, 0.1);
      padding: 1rem;
      .tags {
        @include Flex(center, null);
        gap: 0.5rem;
        margin-top: 0.5rem;
        .tag {
          @include Flex(center, null);
          gap: 0.2rem;
          color: $paragraph-color;
        }
      }
      .more {
        @include Flex(center, space-between);
        padding: 1.5rem 1rem;
        border-top: 1px solid #ddd;
        .date {
          @include Flex(center , null);
          gap: 0.5rem;
          font-size: 0.9rem;
          color: $paragraph-color;
        }
        .btn {
          background-color: transparent;
          border: none;
          color: $secondary-color;
        }
      }
      .i  {
        color: $secondary-color;
      }
    }
  }
}